@font-face {
    font-family: "Montserrat";
    src: url("../font/Montserrat.ttf");
}
header,
footer,
.modal-header,
.modal-footer {
    color: white;
    background-color: #283618;
}

main {
    min-height: 100vh;
}

body {
    background-color: #dda15e;
    font-family: "Montserrat";
    font-weight: 600;
}

body {
    --sb-track-color: hsl(74, 32%, 32%);
    --sb-thumb-color: hsl(74, 32%, 45%);
    --sb-size: 5px;
}

body::-webkit-scrollbar,
.modal-body::-webkit-scrollbar {
    width: var(--sb-size)
}

body::-webkit-scrollbar-track,
.modal-body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 12px;
}

body::-webkit-scrollbar-thumb,
.modal-body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 12px;

}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}

.modal-header,
.modal-footer {
    border: none;
}

.modal-content {
    background-color: #dda15e;
    font-family: "Montserrat";
    font-weight: 600;
}

.popup {
    background-color: #bc6c25;
}

.primary {
    background-color: hsl(74, 32%, 32%);
}

.button-primary {
    border: solid 1px;
    background-color: hsl(74, 32%, 32%);
    border-color: hsl(74, 32%, 32%);
    color: white;
}

.button-primary:hover {
    background-color: hsl(74, 32%, 45%);
    border-color: hsl(74, 32%, 45%);
    transition: all 0.3s ease;
    color: white;
}

.button-primary:active:hover {
    background-color: hsl(74, 32%, 25%);
    border-color: hsl(74, 32%, 25%);
    transition: all 0.3s ease;
    color: white;
}

.button-primary:active:not(:hover) {
    background-color: hsl(74, 32%, 25%);
    border-color: hsl(74, 32%, 25%);
    transition: all 0.3s ease;
    color: white;
}

.dt-length,
.dt-search,
.dt-paging,
.dt-info {
    display: block;
    background-color: hsl(74, 32%, 32%);
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.icon-sucsess {
    background-color: hsl(74, 32%, 45%);
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -40px;
    width: 70px;
    height: 70px;
}

.icon-failed {
    background-color: hsl(0, 70%, 50%);
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -40px;
    width: 70px;
    height: 70px;
}

.modal-succes .modal-header {
    background-color: hsl(74, 32%, 25%);
}

.modal-failed .modal-header,
.modal-failed .modal-footer {
    background-color: hsl(0, 70%, 40%);
}


.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}