{% extends "base.html" %}
{% block title %}Transaksi - LaundryApp{% endblock %}
{% block content %}

<div class="container-fluid ">
    <div class="popup shadow p-3 border-black rounded-2">
        <div class="row justify-content-center">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Total Karyawan</h4>
                        <p class="card-text fs-2">
                            <span class="badge primary">12</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Karyawan Laki-Laki</h4>
                        <p class="card-text fs-2">
                            <span class="badge primary">12</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Karyawan Perempuan</h4>
                        <p class="card-text fs-2">
                            <span class="badge primary">2</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3 d-flex justify-content-center">
        <div class="popup border-1 rounded-2 p-3 d-flex shadow gap-3 ">
            <div>
                <input
                    type="text"
                    class="form-control"
                    name="searchKaryawan"
                    id="search"
                    placeholder="Cari Nama / ID"
                    onkeyup="filterTable()"
                />
            </div>
            <div>
                <button
                    type="button"
                    class="btn primary text-white shadow-sm"
                    data-bs-toggle="modal"
                    data-bs-target="#addKaryawan"
                >
                    Tambah Karyawan
                </button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid border-black mt-3">
    <div class="popup shadow p-3 rounded-2 ">
        <table class="table table-bordered table-hover table-striped" id="table-karyawan">
            <thead>
                <tr class="text-center">
                    <th>No</th>
                    <th>Nama</th>
                    <th>Jenis Kelamin</th>
                    <th>Posisi</th>
                    <th>No. Telepon</th>
                    <th>Tombol Aksi</th>
                </tr>
            </thead>
            <tbody id="tabel-karyawan-body">
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
