{% extends "base.html" %}
{% block title %}Transaksi - LaundryApp{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="popup p-3 rounded-2 shadow">
        <div class="row g-3">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Pelanggan Setia</h4>
                        <p class="card-text fs-2">
                            <span class="badge primary">AndiAnda</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Total Pelanggan</h4>
                        <p class="card-text fs-2">
                            <span class="badge primary">15</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3">
        <div class="popup p-3 shadow rounded-2 d-grid gap-3">
            <div class="col">
                <input
                    type="text"
                    class="form-control"
                    name="searchPelanggan"
                    id="searchPelanggan"
                    aria-describedby="helpId"
                    placeholder="Nama Customer"
                />
            </div>
            <div class="col d-flex justify-content-center">
                <button type="button" class="btn text-white button-primary">Tambah Pelanggan</button>
            </div>
        </div>
    </div>
    <div class="p-3 popup shadow mt-3">
        <table class="table table-striped table-hover table-bordered" id="tabel-pelanggan">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nama Customer</th>
                    <th>Alamat</th>
                    <th>Nomor Telepon</th>
                    <th>Tombol Aksi</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>


{% endblock %}