{% extends "base.html" %}
{% block title %}Transaksi - LaundryApp{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="popup p-3 border-1 shadow rounded-2">
        <div class="row justify-content-center g-3">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Transaksi Hari Ini</h4>
                        <p class="card-text fs-2">
                            <span class="badge primary" id="transaksiHariIni">0</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Transaksi Semuanya</h4>
                        <p class="card-text fst-normal fs-2">
                            <span class="badge primary" id="transaksiSemuanya">0</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3">
        <div class="popup d-grid gap-3 p-3 border-1 rounded-2 shadow">
            <div class="col d-flex justify-content-center">
                <button type="button" class="btn primary text-white button-primary" data-bs-toggle="modal" data-bs-target="#addTransaksi">Tambah Transaksi</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt-3 m-0">
    <div class="popup shadow rounded-2 p-3">
        <table class="table table-striped table-bordered table-hover table-responsive" id="tabel-transaksi">
            <thead>
                <tr class="text-center">
                    <th>ID</th>
                    <th>Tanggal</th>
                    <th>Status</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>

<!--Modal tambah transaksi-->
<div class="modal fade" id="addTransaksi" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable ">
        <div class="modal-content">
            <!-- Header Modal -->
            <div class="modal-header rounded-bottom-4 shadow-sm">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Tambah Transaksi</h1>
                <button type="button" class="btn-close primary" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Body Modal -->
            <div class="modal-body">
                <div class="d-flex text-white flex-column gap-3">
                    <div class="flex-fill rounded-2 border-black popup p-3 shadow-sm">
                        <label for="Nama-Pelanggan-Form" class="form-label">Nama Pelanggan</label>
                        <input type="text" class="form-control" name="Nama-Pelanggan-Form" id="Nama-Pelanggan-Form"
                            placeholder="Nama Pelanggan" />
                    </div>
                    <div class="flex-fill rounded-2 border-black popup p-3 shadow-sm">
                        <label for="Alamat-Transaksi-Form" class="form-label">Alamat Pelanggan</label>
                        <input type="text" class="form-control" name="Alamat-Transaksi-Form" id="Alamat-Transaksi-Form"
                            placeholder="Alamat" />
                    </div>
                    <div class="rounded-2 border-black popup p-3 shadow-sm">
                        <label for="Nomor-Telepon-Transaksi-Form" class="form-label">Nomor Telepon Pelanggan</label>
                        <input type="number" class="form-control" name="Nomor-Telepon-Transaksi-Form" id="Nomor-Telepon-Transaksi-Form"
                            placeholder="Nomor Telepon"/>
                    </div>
                    <div class="flex-fill rounded-2 border-black popup p-3 shadow-sm">
                        <label for="ID-Karyawan-Form" class="form-label">ID Karyawan</label>
                        <input type="number" class="form-control" name="ID-Karyawan-Form" id="ID-Karyawan-Form"
                            placeholder="ID Karyawan" />
                        <small class="text-muted">Pastikan id karyawan sudah ada</small>
                    </div>
                    <div class="flex-fill rounded-2 border-black popup p-3 shadow-sm">
                        <label for="Hari-Transaksi-Form" class="form-label">Tanggal</label>
                        <input type="date" class="form-control" name="Hari-Transaksi-Form" id="Hari-Transaksi-Form" placeholder="" />
                    </div>
                    <div class="flex-fill rounded-2 border-black popup p-3 shadow-sm">
                        <label for="Status-Transaksi-Form" class="form-label">Status Pesanan</label>
                        <select class="form-select form-select-sm" name="Status-Transaksi-Form" id="Status-Transaksi-Form">
                            <option selected value="Belum Lunas">Belum Lunas</option>
                            <option value="Lunas">Lunas</option>
                        </select>
                    </div>
                    <div class="flex-fill rounded-2 border-black popup p-3 shadow-sm">
                        <label for="Total-Harga-Transaksi-Form" class="form-label">Total Harga</label>
                        <input type="number" class="form-control" name="Total-Harga-Transaksi-Form" id="Total-Harga-Transaksi-Form"
                            placeholder="Total Harga" />
                    </div>
                    <div class="flex-fill rounded-2 border-black popup p-3 shadow-sm">
                        <label for="Uang-Muka-Transaksi-Form" class="form-label">Uang Muka</label>
                        <input type="number" class="form-control" name="Uang-Muka-Transaksi-Form" id="Uang-Muka-Transaksi-Form"
                            placeholder="Uang Muka" />
                    </div>
                </div>
            </div>
            <!-- Footer Modal (opsional) -->
            <div class="modal-footer rounded-top-4 shadow-sm">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn button-primary" onclick="tambahTransaksi()">Simpan</button>
            </div>
        </div>
    </div>
</div>

<div
    class="modal fade"
    id="Modal-Detail-Transaksi"
    tabindex="-1"
    data-bs-backdrop="static"
    data-bs-keyboard="false"

    role="dialog"
    aria-labelledby="DetailTransaki"
    aria-hidden="true"
>
    <div
        class="modal-dialog modal-xl modal-dialog-scrollable modal-dialog-centered modal-fullscreen-sm-down"
        role="document"
    >
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="DetailTransaki">
                    Detail Transaksi
                </h6>
                <button
                    type="button"
                    class="btn-close primary"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <div class="row g-3 align-items-center">
                    <div class="col-12 col-lg-3 text-center">
                        <div class="rounded-circle popup p-3 shadow-sm align-self-center d-inline-flex">
                            <img src="../static/images/user.png" alt="Gambar Wajah" width="125" height="125">
                        </div>
                    </div>
                    <div class="col-12 col-lg-8">
                        <div class="rounded-2 border-black popup p-3 shadow-sm">
                            <p id="idTransaksi">ID</p>
                            <p id="idPelanggan">Nama Pelanggan</p>
                            <p id="idKaryawan">Nama Karyawan</p>
                            <p id="tanggalTransaksi">Tanggal</p>
                            <p id="statusTransaksi">Status</p>
                            <p id="totalTransaksi">Total Harga</p>
                            <p id="uangTransaksi">Uang Muka</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                >
                    Tutup
                </button>
                <button type="button" class="btn btn-primary" onclick="testToast()">Simpan</button>
            </div>
        </div>
    </div>
</div>

<script src="../static/script/transaksi.js"></script>

{% endblock %}